<%= form.error_messages %>
<p>
    <%= form.label :title %>
    <br/>
    <%= form.text_field :title %>
</p>
<p>
    <%= form.label :specification %>
    <br/>
    <%= form.text_area :specification %>
</p>
