<div id="prover_status">
</div>

<p>
    <b>Title:</b>
    <%=h @proofscript.title %>
</p>
<p>
    <b>Specification:</b>
    <%=h @proofscript.specification %>
	<%= link_to 'Edit', edit_proofscript_path(@proofscript) %>
</p>


<% form_remote_tag :url => {:controller => 'proof', :action => 'check', :id => @proofscript} do %>
<%= submit_tag "Check Syntax" %>
<% end %>
<%= button_to 'Start a Proof Process', :controller => 'proof', :action => 'start', :id => @proofscript %>


<%= link_to 'Back', proofscripts_path %>